<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        allowBackup=false: las credenciales se guardan en EncryptedSharedPreferences,
        cuya clave vive en el Keystore y NO se respalda. Con backup activo, una
        restauración copiaría el fichero cifrado sin su clave -> GeneralSecurityException
        al arrancar. Esto es pre-release; más adelante se puede volver a activar el
        backup con unas dataExtractionRules que excluyan "baniterio_credenciales".
    -->
    <application
        android:name=".BaniterioApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>